.color1 {color: #286328;}
.color2 {color: #5d8037;}
.color3 {color: #a7aa76;}
.color4 {color: #d8d8bc;}
.color5 {color: #f9f9f7;}

.color6 {color: #8b7346;}
.color7 {color: #96864d;}
.color8 {color: #cdcaa0;}
.color9 {color: #efefe5;}
.color10 {color: #f9f9f9;}

body {
  background-image: linear-gradient(180deg, #96864d, #cdcaa0 100px, #cdcaa0);
  font-family: "Patrick Hand", sans-serif;
}

p{
  color: #33350c;
}

h4{
  font-family: "Amatic SC", sans-serif;
  font-size: 2em;
}

h1{
  font-family: "Amatic SC", sans-serif;
  text-shadow: 3px 3px 3px #96864d;
  font-size: 3em;

}

a{
  transition: 0.2s;
}
a:hover{
  text-shadow: 3px 3px 3px #a7aa76;
  transform: scale(1.2);
}
span{
  font-size: 1em;
}

.container {
  max-width: 960px;
}

.card{
  cursor: pointer;
  transition: 0.5s;
  background-color: #a7aa76;
}
.card:hover{
  transform:scale(1.1);
  background-color: #d8d8bc;
}
.pricing-header {
  max-width: 700px;
}

.recycled{
  background-color: #cdcaa0;
  font-size: 1em;
  transition: 0.3s;
}
.recycled:hover{
  background: #5d8037;
  color: #d8d8bc;
  transform: scale(1.2);
  font-weight: bolder;
}
.wasted{
  background-color: #cdcaa0;
  font-size: 1em;
  transition: 0.3s;
}
.wasted:hover{
  background: darkred;
  color: #d8d8bc;
  transform: scale(1.2);
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #96864d;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.zoom{
  transition: 0.2s;
}
.zoom:hover{
  transform: scale(1.2);
}
